{% extends "base.html" %}
{% block title%}
妖精的尾巴
{% endblock%}
{% block content %}

<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/event_manage/">发布会</a></li>
				<li><a href="/guest_manage">嘉宾</a><li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{ user }}</a></li>
				<li><a href="/logout/">退出</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- 添加发布会表单 -->
<div class="row container" style="margin-top: 80px;">
	<div class="page-header">
		<h3 style="margin-left:150px;"> 添加发布会 </h3>
	</div>

	<div class="col-md-6" style="width: 700px;">

		<form class="form-horizontal" role="form" method="post"  style="margin-left:50px;">

			{% for field in form %}
				<div class="form-group fieldWrapper">
					<p style="margin-top:5px;" class="col-sm-2 control-laber"> {{ field.label_tag }}</p>
					<div class="col-sm-10" >
						<p style="center">
							{{ field }}
						</p>
						{% if field.help_text %}
							<p class="myright help text-info"> {{ field.help_text|safe }} </p>
						{% endif %}
						<strong style="color:red"> {{ field.errors }} </strong>
					</div>
				</div>

			{% endfor %}



			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-laber "></label>
				<div class=" {{ alert }} col-sm-10">
					{% if form.non_field_errors %}
						<ul class="errorlist">
							{{form.non_field_errors}}
						</ul>
					{% endif %}

					<ul class="errorlist" >{{ success }}</ul>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					 <button type="sumbit button" class="btn  btn-primary  ">提交</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
</div>

{% endblock %}
