{% extends "base.html" %}
{% block title%}
妖精的尾巴
{% endblock%}
{% block content %}


<!-- 导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
		</div>
		 <div> id="navbar" class="collapse navbar-collapse">
			<ul class=" nav navbar-nav">
				<li><a href="/event_manage/">发布会</a></li>
				<li class="active"><a href="#">嘉宾</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a  href="#" class="dropdown-toggle" data-toggle="dropdown">
						{{ user }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="active"> <a href="/my_info/"> 个人信息 </a></li>
						<li class="divider"></li>
						<li> <a href="/my_info/"> test </a></li>
					</ul>
				</li>
				<li><a href="/logout/">退出</a></li>
			</ul>



		</div>
	</div>
</nav>
<div class="container theme-showcase" role="main">
<!--嘉宾 搜索表单 -->
	<div class="page-header" style="margin-top: 80px;">
		<div id="navbar" class="navbar-collapse collapse" style="float:left;">
			<form class="navbar-form" method="get" action="/search_guest_name/">
				<div class="form-group">
					<input name="realname" required="required" type="text" placeholder="phone"
				class="form-control">
				</div>
				<button type="submit" class="btn btn-success">搜索</button>
			</form>
		</div>
		<div "float:right;">
            <button type="submit" class="btn btn-primary" onclick="window.location.href='/add_guest/'" style="margin-top: 8px;">添加</button>
        </div>
		<!-- Split button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-danger">Action</button>
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">Separated link</a></li>
		  </ul>
		</div>
	</div>


<!-- 嘉宾 -->
	<div class="row" >
		<div class="col-md-6" style="width: 800px;">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>id</th>
						<th>名称</th>
						<th>手机</th>
						<th>EMAIL</th>
						<th>签到</th>
						<th>发布会</th>
					</tr>
				</thead>
				<tbody>
					{% for guest in guests %}
					<tr>
						<td>{{ guest.id }}</td>
						<td>{{ guest.realname }}</td>
						<td>{{ guest.phone }}</td>
						<td>{{ guest.email }}</td>
						<td>{{ guest.sign }}</td>
						<td>{{ guest.event }}</td>
					</tr>
					{% endfor %}
					{{ hint}}
				</tbody>
			<table>
		</div>
	</div>

</div>
	<!-- 列表分页器 -->
	<div class="pagination" >
		<span class="step-links">
			<ul class="pagination">


			{% if guests.has_previous %}
				<li><a href="?phone={{ phone }}&page=1">首页</a><li>
				<li><a aria-label="Last" href="?phone={{ phone }}&page={{ guests.previous_page_number }}">&laquo;</a></li>
			{% else %}
				<li class="disabled"><span aria-hidden="true" >首页</span><li>
			{% endif %}

			<li class="active" ><a href="#"> {{ guests.number }}</a></li>

			 {% if guests.has_next %}
				{% if phone %}
					<li><a  aria-label="Next" href="?phone={{ phone }}&page= {{ guests.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li><a  aria-label="Next" href="?page={{ guests.next_page_number }}">&raquo;</a></li>
				{% endif%}
				<li><a href="?phone={{ phone }}&page={{ guests.paginator.num_pages }}">尾页</a><li>
			{% else %}
				<li class="disabled"><span aria-hidden="true" >尾页</span><li>
			 {% endif %}



			<li class="disabled"> <span aria-hidden="true">共{{ guests.paginator.num_pages }}页</span></li>
			</ul>
		</span>
	</div>

{% endblock %}
